.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: black;
  height: 12rem;
}

#nav-logo {
  height: 15vh;
}

.links a {
  color: white;
}

.nav-username {
  color: white;
}
