.about-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 70%;
  margin: 0 auto;
  background-image: url("../../assets/ring_square.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-me-paragraph {
  width: 80%;
  margin: 0 auto;
  font-size: larger;
}

@media only screen and (max-width: 575px) {
  .about-me {
    color: white;
    text-align: center;
    width: 90%;
    background: none;
  }

  .about-me-header {
    font-size: large;
  }

  .about-me-paragraph {
    font-size: 14px;
    width: 100%;
  }

  .container {
    background: none;
  }
}
