.product-card {
  display: flex;
  margin: 2%;
}

.product-card-image {
  border-radius: 15px;
  width: 19vw;
  height: 29vh;
}

.product-card :hover {
  transform: scale(1.04);
  transition: 1s;
  box-shadow: 10px 5px 5px gainsboro;
}

@media only screen and (max-width: 575px) {
  .product-card :hover {
    transform: none;
  }
}
