.posts-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  background-image: url("../../assets/ring_square.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 575px) {
  .posts-container {
    width: 100%;
    background: none;
  }
  .post-card-component {
    width: 80%;
  }

  .post-card {
    width: 90vw;
  }

  .create-post-button {
    margin-bottom: 3rem;
  }
}
