.container {
  display: flex;
  min-width: 100%;
  /* background-image: url("../../assets/ring_square.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}
